.elementor-541 .elementor-element.elementor-element-6eb20b3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 88px 0px 0px 0px;
}

.elementor-541 .elementor-element.elementor-element-6eb20b3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-541 .elementor-element.elementor-element-cbcd409>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-541 .elementor-element.elementor-element-c8dbe4d .gsc-heading .content-inner {
    max-width: 1000px;
}

.elementor-541 .elementor-element.elementor-element-c8dbe4d .gsc-heading {
    margin-bottom: 0px;
}

.elementor-541 .elementor-element.elementor-element-c8dbe4d .gsc-heading .title {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 0px;
}

.elementor-541 .elementor-element.elementor-element-c8dbe4d .gsc-heading .sub-title {
    margin-bottom: 0px;
}

.elementor-541 .elementor-element.elementor-element-c8dbe4d .gsc-heading .title-desc {
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px 0px 0px 0px;
}

.elementor-541 .elementor-element.elementor-element-ee7dd16 {
    margin-bottom: 0px;
    padding: 70px 0px 90px 0px;
}

.elementor-541 .elementor-element.elementor-element-d4d1965>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-541 .elementor-element.elementor-element-8665b30>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-541 .elementor-element.elementor-element-68f7a35>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-541 .elementor-element.elementor-element-c03f390:not(.elementor-motion-effects-element-type-background),
.elementor-541 .elementor-element.elementor-element-c03f390>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F4F4F4;
    background-image: url("../../2023/10/bg-04.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.elementor-541 .elementor-element.elementor-element-c03f390 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 90px 0px;
}

.elementor-541 .elementor-element.elementor-element-c03f390>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-541 .elementor-element.elementor-element-92915bd>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-541 .elementor-element.elementor-element-15934d5>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-541 .elementor-element.elementor-element-4b67c2e .gsc-heading .content-inner {
    max-width: 800px;
}

.elementor-541 .elementor-element.elementor-element-4b67c2e .gsc-heading {
    margin-bottom: 50px;
}

.elementor-541 .elementor-element.elementor-element-4b67c2e .gsc-heading .title {
    margin-bottom: 0px;
}

.elementor-541 .elementor-element.elementor-element-4b67c2e .gsc-heading .sub-title {
    margin: 0px 0px 8px 0px;
}

.elementor-541 .elementor-element.elementor-element-4b67c2e .gsc-heading .title-desc {
    padding: 20px 0px 0px 0px;
}

.elementor-541 .elementor-element.elementor-element-2f4e74e>.elementor-element-populated {
    padding: 0px 15px 0px 100px;
}

.elementor-541 .elementor-element.elementor-element-ca4da35>.elementor-widget-container {
    margin: 28px 0px 10px 0px;
    color: #373b52;
}

.elementor-541 .elementor-element.elementor-element-75d7612>.elementor-widget-container {
    padding: 0px 15px 0px 15px;
}

.elementor-541 .elementor-element.elementor-element-75d7612 .swiper-slider-wrapper .swiper-pagination {
    margin-top: 0px;
}

.elementor-541 .elementor-element.elementor-element-eb3bd6a:not(.elementor-motion-effects-element-type-background),
.elementor-541 .elementor-element.elementor-element-eb3bd6a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background: linear-gradient(90deg, #513dc0, #bb2f73, #f9b10c);
}

.elementor-541 .elementor-element.elementor-element-eb3bd6a>.elementor-background-overlay {
    background-image: url("../../2023/08/bg-14.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-541 .elementor-element.elementor-element-eb3bd6a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-541 .elementor-element.elementor-element-75a7c8a>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-541 .elementor-element.elementor-element-75a7c8a>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-541 .elementor-element.elementor-element-63f9cbf>.elementor-widget-container {
    margin: 0px 0px 85px 0px;
    padding: 100px 0px 100px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FFFFFF33;
}

.elementor-541 .elementor-element.elementor-element-63f9cbf .swiper-slider-wrapper .swiper-pagination {
    margin-top: 0px;
}

.elementor-541 .elementor-element.elementor-element-e13047e {
    width: var(--container-widget-width, 50%);
    max-width: 50%;
    --container-widget-width: 50%;
    --container-widget-flex-grow: 0;
}

.elementor-541 .elementor-element.elementor-element-e13047e>.elementor-widget-container {
    margin: 16px 0px 28px 0px;
}

.elementor-541 .elementor-element.elementor-element-e13047e .elementor-heading-title {
    font-size: 50px;
    text-transform: uppercase;
    line-height: 60px;
    color: #FFFFFF;
}

.elementor-541 .elementor-element.elementor-element-41a16b4>.elementor-element-populated {
    padding: 0px 5px 0px 5px;
}

.elementor-541 .elementor-element.elementor-element-1b42f0c {
    /* border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #D7D7D7; */
    padding: 0px 0px 30px 0px;
}

.elementor-541 .elementor-element.elementor-element-427a2a3>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 20px;
}

.elementor-541 .elementor-element.elementor-element-427a2a3>.elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-541 .elementor-element.elementor-element-05232cb>.elementor-widget-container {
    background-color: #Fff;
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 0px 10px 0px #b7bdbf96;
    padding: 30px 40px 30px 40px;
}

.elementor-541 .elementor-element.elementor-element-05232cb .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-541 .elementor-element.elementor-element-05232cb {
    --icon-box-icon-margin: 10px;
}

.elementor-541 .elementor-element.elementor-element-05232cb .elementor-icon {
    font-size: 62px;
}

.elementor-541 .elementor-element.elementor-element-05232cb .elementor-icon-box-title,
.elementor-541 .elementor-element.elementor-element-05232cb .elementor-icon-box-title a {
    font-size: 20px;
    text-transform: uppercase;
}

.elementor-541 .elementor-element.elementor-element-84d50f8>.elementor-widget-container {
    background-color: #Fff;
    box-shadow: 0px 0px 10px 0px #b7bdbf96;
    padding: 30px 40px 30px 40px;
}

.elementor-541 .elementor-element.elementor-element-84d50f8 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-541 .elementor-element.elementor-element-84d50f8 {
    --icon-box-icon-margin: 10px;
}

.elementor-541 .elementor-element.elementor-element-84d50f8 .elementor-icon {
    font-size: 62px;
}

.elementor-541 .elementor-element.elementor-element-84d50f8 .elementor-icon-box-title,
.elementor-541 .elementor-element.elementor-element-84d50f8 .elementor-icon-box-title a {
    font-size: 20px;
    text-transform: uppercase;
}

.elementor-541 .elementor-element.elementor-element-1d0acb3>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 20px;
}

.elementor-541 .elementor-element.elementor-element-1d0acb3>.elementor-element-populated {
    padding: 0px 10px 0px 10px;
}

.elementor-541 .elementor-element.elementor-element-f20a06d>.elementor-widget-container {
    background-color: #Fff;
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 0px 10px 0px #b7bdbf96;
    padding: 30px 40px 30px 40px;
}

.elementor-541 .elementor-element.elementor-element-f20a06d .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-541 .elementor-element.elementor-element-f20a06d {
    --icon-box-icon-margin: 10px;
}

.elementor-541 .elementor-element.elementor-element-f20a06d .elementor-icon {
    font-size: 62px;
}

.elementor-541 .elementor-element.elementor-element-f20a06d .elementor-icon-box-title,
.elementor-541 .elementor-element.elementor-element-f20a06d .elementor-icon-box-title a {
    font-size: 20px;
    text-transform: uppercase;
}

.elementor-541 .elementor-element.elementor-element-d40f087>.elementor-widget-container {
    background-color: #Fff;
    box-shadow: 0px 0px 10px 0px #b7bdbf96;
    padding: 30px 40px 30px 40px;
}

.elementor-541 .elementor-element.elementor-element-d40f087 .elementor-icon-box-wrapper {
    text-align: left;
}

.elementor-541 .elementor-element.elementor-element-d40f087 {
    --icon-box-icon-margin: 10px;
}

.elementor-541 .elementor-element.elementor-element-d40f087 .elementor-icon {
    font-size: 62px;
}

.elementor-541 .elementor-element.elementor-element-d40f087 .elementor-icon-box-title,
.elementor-541 .elementor-element.elementor-element-d40f087 .elementor-icon-box-title a {
    font-size: 20px;
    text-transform: uppercase;
}

.elementor-541 .elementor-element.elementor-element-544b1ef>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-541 .elementor-element.elementor-element-544b1ef>.elementor-element-populated {
    padding: 30px 10px 0px 10px;
}

.elementor-541 .elementor-element.elementor-element-793e73a>.elementor-widget-container {
    margin: 0px 0px 3px 0px;
}

.elementor-541 .elementor-element.elementor-element-d78e71f .elementor-heading-title {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-541 .elementor-element.elementor-element-1cf5c36>.elementor-element-populated {
    padding: 30px 10px 0px 10px;
}

.elementor-541 .elementor-element.elementor-element-34f879f {
    --icon-box-icon-margin: 20px;
}

.elementor-541 .elementor-element.elementor-element-34f879f .elementor-icon-box-title {
    margin-bottom: 5px;
    color: var(--e-global-color-text);
}

.elementor-541 .elementor-element.elementor-element-34f879f.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
    fill: #FFFFFF;
    color: #FFFFFF;
}

.elementor-541 .elementor-element.elementor-element-34f879f.elementor-view-framed .elementor-icon,
.elementor-541 .elementor-element.elementor-element-34f879f.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-541 .elementor-element.elementor-element-34f879f.elementor-view-framed .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-541 .elementor-element.elementor-element-34f879f .elementor-icon {
    font-size: 24px;
    padding: 15px;
}

.elementor-541 .elementor-element.elementor-element-34f879f .elementor-icon-box-title,
.elementor-541 .elementor-element.elementor-element-34f879f .elementor-icon-box-title a {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.elementor-541 .elementor-element.elementor-element-34f879f .elementor-icon-box-description {
    color: var(--e-global-color-secondary);
    font-family: "Barlow Condensed", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 1.8px;
}


/* .elementor-541 .elementor-element.elementor-element-b5ebbd3:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-541 .elementor-element.elementor-element-b5ebbd3>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background: #333065;
} */

.elementor-541 .elementor-element.elementor-element-b5ebbd3>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: auto 0px 0px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 55px;
}

.elementor-541 .elementor-element.elementor-element-b5ebbd3>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-541 .elementor-element.elementor-element-d360d6a {
    background: #333065;
}

.elementor-541 .elementor-element.elementor-element-90eca82 {
    padding: 120px 0px 120px 0px;
}

.elementor-541 .elementor-element.elementor-element-0692644:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-541 .elementor-element.elementor-element-0692644>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://themegavias.com/wp/pisole/wp-content/uploads/2023/08/image-17.jpg");
}

.elementor-bc-flex-widget .elementor-541 .elementor-element.elementor-element-0692644.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-541 .elementor-element.elementor-element-0692644.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-541 .elementor-element.elementor-element-0692644.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-541 .elementor-element.elementor-element-0692644>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 10px 0px 0px;
    border-color: var(--e-global-color-primary);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
    padding: 0px 0px 0px 0px;
}

.elementor-541 .elementor-element.elementor-element-0692644>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-541 .elementor-element.elementor-element-25ff136 {
    width: auto;
    max-width: auto;
    z-index: 1;
}

.elementor-541 .elementor-element.elementor-element-25ff136>.elementor-widget-container {
    margin: 0px -55px 0px 0px;
}

.elementor-541 .elementor-element.elementor-element-25ff136 .elementor-icon-wrapper {
    text-align: left;
}

.elementor-541 .elementor-element.elementor-element-25ff136.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
    color: var(--e-global-color-primary);
}

.elementor-541 .elementor-element.elementor-element-25ff136.elementor-view-framed .elementor-icon,
.elementor-541 .elementor-element.elementor-element-25ff136.elementor-view-default .elementor-icon {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-541 .elementor-element.elementor-element-25ff136.elementor-view-framed .elementor-icon,
.elementor-541 .elementor-element.elementor-element-25ff136.elementor-view-default .elementor-icon svg {
    fill: #FFFFFF;
}

.elementor-541 .elementor-element.elementor-element-25ff136.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-primary);
}

.elementor-541 .elementor-element.elementor-element-25ff136.elementor-view-stacked .elementor-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-541 .elementor-element.elementor-element-25ff136 .elementor-icon {
    font-size: 70px;
    padding: 15px;
}

.elementor-541 .elementor-element.elementor-element-25ff136 .elementor-icon svg {
    height: 70px;
}

.elementor-541 .elementor-element.elementor-element-f0daaba:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-541 .elementor-element.elementor-element-f0daaba>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-secondary);
}

.elementor-541 .elementor-element.elementor-element-f0daaba>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 15px 0px 0px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-541 .elementor-element.elementor-element-f0daaba>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-541 .elementor-element.elementor-element-08f105b {
    padding: 60px 0px 60px 0px;
}

.elementor-bc-flex-widget .elementor-541 .elementor-element.elementor-element-b1efea9.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-541 .elementor-element.elementor-element-b1efea9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-541 .elementor-element.elementor-element-b1efea9>.elementor-element-populated {
    padding: 0px 0px 0px 80px;
}

.elementor-541 .elementor-element.elementor-element-131b035 .elementor-heading-title {
    font-size: 36px;
    text-transform: uppercase;
    line-height: 1.2em;
    color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-541 .elementor-element.elementor-element-cbc0bed.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-541 .elementor-element.elementor-element-cbc0bed.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-541 .elementor-element.elementor-element-cbc0bed>.elementor-element-populated {
    padding: 0px 60px 0px 0px;
}

.elementor-541 .elementor-element.elementor-element-ac09c6e {
    text-align: right;
}

:root {
    --page-title-display: none;
}

@media(min-width:768px) {
    .elementor-541 .elementor-element.elementor-element-544b1ef {
        width: 55%;
    }
    .elementor-541 .elementor-element.elementor-element-1cf5c36 {
        width: 45%;
    }
    .elementor-541 .elementor-element.elementor-element-0692644 {
        width: 29.665%;
    }
    .elementor-541 .elementor-element.elementor-element-f0daaba {
        width: 70%;
    }
    .elementor-541 .elementor-element.elementor-element-b1efea9 {
        width: 60%;
    }
    .elementor-541 .elementor-element.elementor-element-cbc0bed {
        width: 39.999%;
    }
}

@media(max-width:1024px) {
    .elementor-541 .elementor-element.elementor-element-6eb20b3 {
        padding: 90px 0px 90px 0px;
    }
    .elementor-541 .elementor-element.elementor-element-c8dbe4d .gsc-heading .title {
        font-size: 38px;
    }
    .elementor-541 .elementor-element.elementor-element-c8dbe4d .gsc-heading .title-desc {
        font-size: 18px;
        line-height: 28px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-541 .elementor-element.elementor-element-ee7dd16 {
        padding: 80px 0px 50px 0px;
    }
    .elementor-541 .elementor-element.elementor-element-c03f390 {
        padding: 80px 0px 50px 0px;
    }
    .elementor-541 .elementor-element.elementor-element-4b67c2e .gsc-heading {
        margin-bottom: 30px;
    }
    .elementor-541 .elementor-element.elementor-element-2f4e74e>.elementor-element-populated {
        padding: 0px 15px 0px 15px;
    }
    .elementor-541 .elementor-element.elementor-element-63f9cbf>.elementor-widget-container {
        margin: 0px 0px 65px 0px;
        padding: 80px 0px 80px 0px;
    }
    .elementor-541 .elementor-element.elementor-element-e13047e {
        --container-widget-width: 60%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 60%);
        max-width: 60%;
    }
    .elementor-541 .elementor-element.elementor-element-e13047e .elementor-heading-title {
        font-size: 40px;
        line-height: 40px;
    }
    .elementor-541 .elementor-element.elementor-element-05232cb>.elementor-widget-container {
        padding: 30px 15px 30px 15px;
    }
    .elementor-541 .elementor-element.elementor-element-05232cb .elementor-icon-box-title,
    .elementor-541 .elementor-element.elementor-element-05232cb .elementor-icon-box-title a {
        font-size: 16px;
    }
    .elementor-541 .elementor-element.elementor-element-84d50f8>.elementor-widget-container {
        padding: 30px 15px 30px 15px;
    }
    .elementor-541 .elementor-element.elementor-element-84d50f8 .elementor-icon-box-title,
    .elementor-541 .elementor-element.elementor-element-84d50f8 .elementor-icon-box-title a {
        font-size: 16px;
    }
    .elementor-541 .elementor-element.elementor-element-f20a06d>.elementor-widget-container {
        padding: 30px 15px 30px 15px;
    }
    .elementor-541 .elementor-element.elementor-element-f20a06d .elementor-icon-box-title,
    .elementor-541 .elementor-element.elementor-element-f20a06d .elementor-icon-box-title a {
        font-size: 16px;
    }
    .elementor-541 .elementor-element.elementor-element-d40f087>.elementor-widget-container {
        padding: 30px 15px 30px 15px;
    }
    .elementor-541 .elementor-element.elementor-element-d40f087 .elementor-icon-box-title,
    .elementor-541 .elementor-element.elementor-element-d40f087 .elementor-icon-box-title a {
        font-size: 16px;
    }
    .elementor-541 .elementor-element.elementor-element-b5ebbd3>.elementor-element-populated {
        margin: -124px 15px 0px 5px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 5px;
    }
    .elementor-541 .elementor-element.elementor-element-90eca82 {
        padding: 80px 0px 80px 0px;
    }
    .elementor-541 .elementor-element.elementor-element-0692644>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-541 .elementor-element.elementor-element-f0daaba>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-541 .elementor-element.elementor-element-131b035 .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-541 .elementor-element.elementor-element-cbc0bed>.elementor-element-populated {
        padding: 0px 15px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-541 .elementor-element.elementor-element-c8dbe4d .gsc-heading .title {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .elementor-541 .elementor-element.elementor-element-e13047e {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%;
    }
    .elementor-541 .elementor-element.elementor-element-e13047e .elementor-heading-title {
        font-size: 30px;
        line-height: 40px;
    }
    .elementor-541 .elementor-element.elementor-element-84d50f8>.elementor-widget-container {
        margin: 0px 0px 20px 0px;
    }
    .elementor-541 .elementor-element.elementor-element-b5ebbd3>.elementor-element-populated {
        margin: 30px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-541 .elementor-element.elementor-element-0692644.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-541 .elementor-element.elementor-element-25ff136>.elementor-widget-container {
        margin: 30px 30px 30px 30px;
    }
    .elementor-541 .elementor-element.elementor-element-b1efea9>.elementor-element-populated {
        padding: 0px 15px 0px 15px;
    }
    .elementor-541 .elementor-element.elementor-element-ac09c6e>.elementor-widget-container {
        margin: 30px 15px 0px 15px;
    }
    .elementor-541 .elementor-element.elementor-element-ac09c6e {
        text-align: left;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-541 .elementor-element.elementor-element-41a16b4 {
        width: 60%;
    }
    .elementor-541 .elementor-element.elementor-element-544b1ef {
        width: 42%;
    }
    .elementor-541 .elementor-element.elementor-element-1cf5c36 {
        width: 58%;
    }
    .elementor-541 .elementor-element.elementor-element-b5ebbd3 {
        width: 40%;
    }
    .elementor-541 .elementor-element.elementor-element-0692644 {
        width: 20%;
    }
    .elementor-541 .elementor-element.elementor-element-f0daaba {
        width: 80%;
    }
}


/* My CSS  */

.elementor-541 .elementor-element.elementor-element-1b42f0c .elementor-icon-box-icon {
    text-align: end;
}

.elementor-element-3a82fa0 {
    background-image: url(../../../../images/02/Section02BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50px;
}

.elementor-541 .elementor-element.elementor-element-d360d6a .elementor-widget-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
}

.elementor-541 .elementor-element.elementor-element-1b42f0c .elementor-widget-container::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0%;
    left: 0;
    height: 4px;
    background: linear-gradient(130deg, #513dc0, #bb2f73 41.07%, #f9b10c 76.05%);
}

.elementor-541 .elementor-element.elementor-element-d360d6a button {
    border: none;
    background: linear-gradient(90deg, #513dc0, #bb2f73, #f9b10c);
    color: #fff;
    border-radius: 22px;
    padding: 8px 55px;
    font-size: 18px;
    font-weight: 500;
}

#playbtn {
    margin: 30px 0px 15px;
}

#abtsec3bg {
    position: absolute;
    bottom: 0px;
}

.elementor-541 .elementor-element.elementor-element-ee7dd16 .feature-one__image:after {
    content: none;
}

.elementor-541 .elementor-element.elementor-element-ee7dd16 .feature-one__title {
    border-bottom: 0px;
    bottom: auto;
    top: 17px;
    padding-bottom: 84%;
}

.elementor-541 .elementor-element.elementor-element-ee7dd16 .feature-one__title:after,
.elementor-element-c5fc447 .testimonial-two__quote::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0%;
    left: 0;
    height: 8px;
    background: linear-gradient(130deg, #513dc0, #bb2f73 41.07%, #f9b10c 76.05%);
}

.elementor-541 .elementor-element.elementor-element-ee7dd16 .feature-one__desc {
    line-height: 25px;
    color: #373b52;
}

.elementor-541 .elementor-element.elementor-element-ee7dd16 .feature-one__content-inner {
    max-width: fit-content;
}

#abtsec5 {
    background-image: url(../../../../images/About/05/Sec05BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0px;
}

.elementor-element-54fccd2 h2,
.elementor-element-54fccd2 p {
    color: #fff;
}

.elementor-element-20e1ca4 {
    padding: 5% 15%;
}

#abtsec4 {
    background-image: none;
    background: #e9eaee;
    position: relative;
}

#abtsec4 .elementor-element-d360d6a {
    background: none;
}

#abtsec4-grap {
    position: absolute;
    right: 0%;
    top: 4%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#abtsec4-grap h1 {
    transform: rotate(270deg);
    font-size: 72px;
    color: #c8c8d6;
    letter-spacing: 3px;
    height: fit-content;
    position: absolute;
    right: 22%;
    top: 36%;
}

#abtsec4-grap div {
    width: 33%;
}

#abtsec4 .elementor-element-1b42f0c p {
    margin: 15px 0px 10px;
    color: #373b52;
    line-height: 27px;
}

#abtsec4 .elementor-element-1b42f0c .elementor-widget-container::before {
    content: none;
}

.elementor-element-c5fc447 .testimonial-two__quote {
    border-bottom: 0px;
}

.elementor-element-c5fc447 .testimonial-two__quote::after {
    height: 6px;
}

#testimonial-icon {
    position: absolute;
    right: 0%;
    bottom: 0%;
}

#abtsec2 .elementor-element-1b42f0c .elementor-widget-container {
    padding: 30px 40px 8px 40px;
}

#abtsec2 .elementor-element-1b42f0c .elementor-widget-container .elementor-icon-box-content img {
    padding-top: 10px;
}

#abtsec2 .elementor-element-1b42f0c .elementor-widget-container .elementor-icon-box-content p {
    margin: 10px 0px 14px;
}